/*Front Page*/

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: #b5b5b7;
}

#heading{
    background: #252839;
    font-family: 'Dancing Script', cursive;
    color: #f6f6f6;
    margin: 0;
}

#heading > h1{
    font-size: 74px;
    font-weight: bold;
}

#heading h1 > a{
    color: #f2b632;
}

.navbar{
    background: #252839;
    border: none;
    border-top: 2px solid #555;
    border-radius: 0;
    margin: 0;
    /* margin-bottom: 70px; */
    height: 55px;
}

.navbar-header a{ 
    color: #f2b632 !important;
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
}

#myNavbar ul{
    margin: 0;
}

#myNavbar li{
    background: #252839;
}

#myNavbar a{
    font-size: 20px;
    color: white;
    font-family: 'Roboto Slab', serif;
}

#myNavbar a:hover{
    border-bottom: 5px solid white; 
}

.dropdown{
    display: none;
    position: absolute;
    margin: 0;
    right: 0;
    width: 16em;
    list-style: none;
}

.dropdown li{
    padding: 15px;
}

.dropdown li:hover{
    background: rgba(0,0,0,0.8) !important;
}

.dropdown li a:hover{
    text-decoration: none;
    border: none !important;
}

#to-top{
    position: fixed;
    bottom: 10px; 
    right: 10px;
    border-radius: 20%;
    padding: 5px;
    background: black;
    opacity: 0.3;
}

#to-top a{
    font-size: 32px;
    color: white;
}

#to-top:hover{
    background: red;
}

#to-top a:hover{
    text-decoration: none;
}

#to-top a:after{
    color: white;
}

#desc-inception{
    margin: 0;
    background: #b5b5b7;
}

#desc-inception h3 span{
    font-weight: bold;
}

#desc-inception blockquote{
    background: rgba(0,0,0,0.3);
    color: #fafafa;
    font-family: 'Roboto Slab', serif;
}

#cta{
    background: #b5b5b7;
    border-bottom: 2px solid #e8e8e8;
    border-top: 2px solid #e8e8e8;
}

#register{
    width: 50%;
    padding: 20px;
    background: rgba(0,0,0,0.9);
    border-radius: 30%;
    margin-top: 30px;
}

#register > h2{
    font-size: 36px;
    font-family: 'Roboto Slab', serif;
}

#register a{
    color: #f9f9f9;
    transition: font-size 0.5s ease;
}

#register a:hover{
    color: white;
    font-size: 46px;
}

#events{
    padding: 20px; 
    margin-top: 70px;
}

#events button{
    background: #0e0b16;
    padding: 15px;
    border-radius: 50% 50% 0 0;
    font-size: 28px;
    font-family: 'Roboto Slab', serif;
    border: none;
    height: 400px;
    white-space: normal;
    color: #f6f6f6;
}

#events button span{
    font-weight: bold;
}

#workshop{
    margin-top: 40px;
}

#workshop button{
    font-size: 32px; 
    font-family: 'Roboto Slab', serif;
    padding: 20px;
    background: #0e0b16;
    color: #f6f6f6;
    border: none;
    width: 50%;
}

#about{
    color: #222;
    background: #b5b5b7;
    font-family: 'Roboto Slab', serif;
}

#about > div{
    margin-bottom: 50px;
}

#about > div > h2{
    color: #0e0b16;
    font-size: 42px;
}

footer{
    background: #252839;
    font-family: 'Roboto Slab', serif;
    color: #f6f6f6;
}

#contact{
    margin-bottom: 50px;
}

#contact h2{
    color: #f2b632;
    font-size: 42px;
}

/* Events */

.event-info{
    cursor: pointer;
}

.event-info p{
    font-family: sans-serif;
    color: #000;
}

.event-info p > .name{
    font-size: 38px;
    font-family: 'Roboto Slab', serif;
}

.event-info .desc-hide{
    display: none;
}

.event-info .arrow{
    float: right;
}

.ngo{
    margin-top: 50px;
    border-radius: 10%;
    font-family: 'Roboto Slab', serif;
    color: #333;
}

.ngo p{
    margin-top: 50px;
    padding: 10px;
}

.ngo .name{
    font-size: 36px;
}

/* Responsiveness */

@media (min-width: 770px){
    
    #te:hover ul{
        display: block;
    }

    #nte:hover ul{
        display: block;
    }

}

@media (max-width: 1000px) and (min-width: 750px){

    #events button, #workshop button{
        font-size: 18px;
        padding: 15px;
        height: 300px;
    }
    
    #about > div, #contact{
        margin-bottom: 40px;
    }
    
    #contact h2{
        font-size: 30px;    
    }
    
    footer h3{
        font-size: 18px;
    }
}

@media (max-width: 750px) and (min-width: 525px){

    #events{
        margin-top: 50px;
    }

    #events button, #workshop button{
        font-size: 16px;
        height: 260px;
        padding: 20px;
    }

    #desc-inception, .event-info p{
        font-size: 16px;
    }

    .event-info p > .name{
        font-size: 24px;
    }
    
    #about > div, #contact{
        margin-bottom: 30px;
    }
    
    #contact h2{
        font-size: 26px;    
    }
    
    footer h3{
        font-size: 16px;
    }
}

@media (max-width: 525px) and (min-width: 400px){

    #events{
        margin-top: 30px;
    }

    #events button, #workshop button{
        font-size: 14px;
        height: 230px;
        padding: 20px;
    }

    #desc-inception, .event-info p{
        font-size: 14px;
    }

    .event-info p > .name{
        font-size: 22px;
    }
    
    #about > div, #contact{
        margin-bottom: 20px;
    }
    
    #contact h2{
        font-size: 22px;    
    }
    
    footer h3{
        font-size: 14px;
    }
}

@media (max-width: 400px){

    #register h2{
        font-size: 22px;
    }

    #events{
        margin-top: 10px;
    }

    #events button, #workshop button{
        font-size: 12px;
        height: 180px;
        padding: 20px;
    }

    #desc-inception, .event-info p{
        font-size: 12px;
    }

    .event-info p > .name{
        font-size: 20px;
    }
    
    #about > div, #contact{
        margin-bottom: 10px;
    }
    
    #contact h2{
        font-size: 18px;    
    }
    
    footer h3{
        font-size: 12px;
    }
}
